In this project, I will do end to end data analysis project using python, SQL and PowerBI. And then I will make sale forecasting using statistical modeling. First, I will use kaggle API to download dataset then I will use pandas for data cleaning, data processing and loading the cleaned data into sql server. After that, I will move on to SQL queries for analysis and create dashboard using PowerBI for making better decisions and solving issues by visualizing data in a way that's easy to understand. Finally, I will make slae forecasting for the next 12 months to provide valuable insights.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import kaggle
import warnings
warnings.filterwarnings('ignore')
import zipfile
from sqlalchemy import create_engine

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/phyu/.config/kaggle/kaggle.json'

In [2]:
import psycopg2

conn = psycopg2.connect(
    database="test_db",
    user="admin",
    password="root",
    host="localhost",
    port="5432"
)

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/phyu/.config/kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
zip = zipfile.ZipFile('./orders.csv.zip')
zip.extractall()
zip.close()

In [5]:
# read the csv file and transform to dataframe
df = pd.read_csv('./orders.csv')
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
# check data types
df.dtypes

Order Id             int64
Order Date          object
Ship Mode           object
Segment             object
Country             object
City                object
State               object
Postal Code          int64
Region              object
Category            object
Sub Category        object
Product Id          object
cost price           int64
List Price           int64
Quantity             int64
Discount Percent     int64
dtype: object

In [7]:
# check duplicates
df.duplicated().sum()

0

In [8]:
# check null values
df.isna().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [9]:
# remove null values
df.dropna(inplace=True)

In [10]:
# recheck is there null values
df.isna().sum()

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [11]:
# rename columns to consistent  
df.rename(columns={'Order Id':'order_id','Order Date':'order_date','Postal Code':'postal_code','Sub Category':'sub_category', 'Product Id':'product_id','cost price':'cost_price','List Price':'list_price','Discount Percent':'discount_percent', 'Ship Mode': 'ship_mode'},inplace=True)
df.columns = df.columns.str.lower()

In [12]:
# chage order_date data type to datetime
df.order_date = pd.to_datetime(df.order_date, format='%Y-%m-%d')

# check changing datatype is correct
df['order_date'].sample()

8210   2023-07-25
Name: order_date, dtype: datetime64[ns]

In [13]:
# add discount_price column
df['discount_price'] = df['list_price'] * df['discount_percent'] * 0.01

In [14]:
# add sale_price column
df['sale_price'] = df['list_price'] - df['discount_price']

# add profit column
df['profit'] = df['sale_price'] - df['cost_price']

In [15]:
# add month, day and quater columns by extracting from order_date
df['month'] = df['order_date'].dt.month_name()
df['day'] = df['order_date'].dt.day_name()
df['quarter'] =df['order_date'].dt.quarter

In [16]:
connection = 'postgresql://admin:root@localhost:5432/ecommerce'
engine = create_engine(connection)
df.to_sql('sales_data', con=engine, if_exists='replace', index=False)

993

In [17]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount_price', 'sale_price', 'profit', 'month',
       'day', 'quarter'],
      dtype='object')

In [18]:
df.to_csv('cleaned_data.csv')

In [ ]:
df['sale_price'].sum() /df['order_id'].count()

221.72587811468028

In [23]:
df['sale_price'].sum()

2215706.7